.item {
    margin-top: 10px;
}

.pagination {
    margin: 0 auto;
}

.pagination ul {
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.pagination li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-right: solid 1px #ccc;
    width: 100%;
}

a {
    color: #000;
    display: block;
    font-size: 20px;
}

li:last-child {
    border-right: 0;
}

a:link {
    color: #0000FF;
}

a:visited {
    color: blue;
}

a:hover {
    color: #FF0099;
    text-decoration: underline;
}

a:active {
    color: #33CC00;
}

.disabled {
    color: gray !important;
}